{#{% extends "print.html.twig" %}#}

{#{% block body %}#}
    <img src="{{ asset('build/images/general/racami-log.png') }}" />

    {# word-wrap in assets/css/app.css #}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla facilisi nullam vehicula ipsum a. Placerat duis ultricies lacus sed turpis tincidunt. Malesuada proin libero nunc consequat interdum varius sit. Tortor id aliquet lectus proin nibh nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Lorem sed risus ultricies tristique nulla aliquet. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Nam libero justo laoreet sit amet cursus sit. Amet dictum sit amet justo.</p>


{#{% endblock %}#}