<table width="50%" style="border-collapse: collapse">
    <tr>
        <td colspan="2"><p>MEDICAL, HOSPITAL AND PART B PHARMACY </p><p>COMBINED ANNUAL PLAN DEDUCTIBLE</p></td>
    </tr>
    <tr>
        <td style="background-color: #BC1377; width: 14%">&nbsp;</td>
        <td style="background-color: #8EBC13; width: 86%">&nbsp;</td>
    </tr>
</table>