<!doctype html>
<html>
    <head>
        <style>
            .bar {
                position: absolute !important;
                margin-left: 500em !important;
            }
        </style>
        <!-- Basic -->
        <title>PDF</title>

    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
